#main-header {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 36pt;
    color: aliceblue;
    padding-top: 10px;
    background-color: blue;
}
#header {
    font-family: 'Permanent Marker', cursive;
}
#instructionsContainer {
    font-size: 16pt;
    font-family: "Shadows Into Light", cursive;
}
#instructions {
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
}
#howToPlay {
    margin-top: 5px;
    margin-left: 5px;
}
#gameArea {
    margin-top: 7px;
    margin-right: 15px;
}
.winLossTracker {
    float: right;
    padding-right: 10px;
}
#wins {
    font-family: "Permanent Marker", cursive;
}
#losses {
    font-family: "Permanent Marker", cursive;
}
.card {
    margin-right: 0px;
}
.blueCrystal {
    float: left;
    margin-top: 35px;
}
.pinkCrystal {
    float: left;
    margin-top: 35px;
}
.greenCrystal {
    float: left;
    margin-top: 35px;
}
.yellowCrystal {
    float: left;
    margin-top: 35px;
}
#crystal-blue {
    width: 80px;
    height: 90px;
    padding: 5px;
    margin: 3px 7px 3px 3px;
}
#crystal-pink {
    width: 80px;
    height: 90px;
    padding: 5px;
    margin: 3px;
}
#crystal-green {
    width: 80px;
    height: 90px;
    padding: 5px;
    margin: 3px 3px 3px 10px;
}
#crystal-yellow {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 3px;
}
#randNum {
    font-family: "Permanent Marker", cursive;
}
#score {
    font-family: "Permanent Marker", cursive;
}
#result {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    color: aliceblue;
    font-size: 50pt;
}
.resultAnnouncement {
    padding-top: 40px;
}
